.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1110px;
}

.result {
  background-color: white;
  height: 65px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 15px 20px;
  font-size: 20px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__link {
    &--shorten {
      color: $c-pri-cyan;
      padding: 25px;
    }
  }
}
