@import "_breakpoints";

.shorten-box {
  width: 1110px;
  height: 170px;
  background: url("../images/bg-shorten-desktop.svg");
  background-size: 100% 100%;
  background-color: $c-pri-viol;
  border-radius: 15px;
  padding: 52px 64px;
  position: absolute;
  top: -85px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include breakpoint(laptop) {
    width: calc(100% - 140px);
    margin: auto;
  }
  @include breakpoint(tablet) {
    width: calc(100% - 50px);
    margin: auto;
    flex-direction: column;
    padding: 25px;
    height: 180px;
  }
  @include breakpoint(mobile) {
    width: calc(100% - 50px);
    margin: auto;
    flex-direction: column;
    padding: 25px;
    height: 180px;
  }

  &__input {
    width: 770px;
    height: 64px;
    color: $c-neu-violet;
    outline: none;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    padding-left: 22px;
    margin-right: 24px;
    @include breakpoint(tablet) {
      width: 100%;
      height: 50px;
      border-radius: 10px;
    }
    @include breakpoint(mobile) {
      width: 100%;
      height: 50px;
      border-radius: 10px;
    }
  }

  &__btn {
    background-color: $c-pri-cyan;
    color: white;
    border-radius: 15px;
    border: none;
    width: 188px;
    height: 64px;
    font-size: 18px;
    &:hover {
      background-color: $c-neu-cyan;
    }
    @include breakpoint(tablet) {
      width: 100%;
      height: 48px;
      border-radius: 10px;
    }
    @include breakpoint(mobile) {
      width: 100%;
      height: 48px;
      border-radius: 10px;
    }
  }
}

.err-message {
  color: rgb(255, 100, 100);
  top: 120px;
  position: absolute;
  font-style: italic;
  @include breakpoint(tablet) {
    top: 78px;
  }
  @include breakpoint(mobile) {
    top: 78px;
  }
}
